.main-sorry
  %h1 大変申し訳ありません。
  %br 現在、googleとのサービス連携を停止させていただいております。
  %br
  %br 通常の方法でアカウント登録をお願いします。
  ↓
  .main-sorry__go-to
    =link_to "新規登録画面へ戻る", new_user_registration_path, class: "main-login__go-to--button"