body {
  background-color: #f8f8f8;
  h1 {
    text-align: center;
  }
  .main {
    background-color: #ffffff;
    width: 600px;
    // height: 600px;
    margin: 0 auto;
    h2 {
      padding-top: 20px;
      text-align: center;
    }
    .google {
      height: 40px;
      width: 300px;
      margin: 0 auto;
      border: solid 1px red;
      border-radius: 1em;
      margin-top: 20px;
      margin-bottom: 10px;
      &--btn {
        display: inline-block;
        height: 40px;
        width: 300px;
        line-height: 40px;
        align-items: center;
        text-decoration: none;
        color: black;
        font-size: 15px;
        .fa-google {
          padding-left: 15px;
          padding-right: 50px;
          color: red;
        }
      }
    }
    .google-login {
      height: 40px;
      width: 300px;
      margin: 0 auto;
      border: solid 1px red;
      border-radius: 1em;
      margin-top: 20px;
      margin-bottom: 10px;
      &--btn {
        display: inline-block;
        height: 40px;
        width: 300px;
        line-height: 40px;
        align-items: center;
        text-decoration: none;
        color: black;
        font-size: 15px;
        .fa-google {
          padding-left: 15px;
          padding-right: 40px;
          color: red;
        }
      }
    }
    .field {
      margin: 0 auto;
      height: 100px;
      width: 450px;
      padding: 10px 0 10px 0;
      &--label {
        font-size: 18px;
      }
      &--must {
        height: 40px;
        width: 50px;
        background-color: #3CCACE;
        color: white;
        padding: 5px;
      }
      &--any {
        height: 40px;
        width: 50px;
        background-color: gray;
        padding: 5px;
        color: white;
      }
      &--form {
        margin-top: 5px;
        height: 60px;
        width: 400px;
        font-size: 15px;
      }
      &--select {
        display: inline-block;
        height: 40px;
        width: 200px;
        padding: 5px 0 5px 0;
      }
      &--remember {
        padding-top: 50px;
        text-align: center;
        font-size: 15px;
        transform: scale(1.5);
      }
    }
    .sentence {
      width: 400px;
      margin: 0 auto;
      margin-top: 50px;
      height: 100px;
    }
    .profile {
      margin-top: 20px;
      &__field {
        margin: 0 auto;
        width: 450px;
        padding: 10px 0 10px 0;
        &--form {
          height: 40px;
          width: 120px;
          margin-top: 5px;
        }
      }
    }
    .address {
      margin-top: 20px;
      &__field {
        margin: 0 auto;
        width: 450px;
        padding: 10px 0 10px 0;
        &--form {
          height: 40px;
          width: 120px;
          margin-top: 5px;
        }
      }
    }
    .actions {
      width: 100px;
      height: 100px;
      margin: 0 auto;
      margin-top: 50px;
      text-align: center;
      &--btn {
        height: 50px;
        width: 100px;
        background-color: #3CCACE;
        border: #3CCACE;
        font-size: 20px;
        color: #ffffff;
      }
    }
    .transition {
      width: 600px;
      text-align: center;
    }
    .error {
      padding-top: 5px;
      text-align: center;
      color: red;
      font-weight: bold;
      &__message {
        padding-top: 5px;
      }
    }
  }
  .main-login {
    font-size: 30px;
    text-align: center;
    h1 {
      margin-top: 100px;
    }
    &__go-to {
      margin: 100px 0 150px 0;
      &--button {
        width: 500px;
        height: 100px;
        background-color: #3CCACE;
        display: inline-block;
        line-height: 100px;
        text-decoration: none;
        text-align: center;
        color: #ffffff;
        font-weight: bold;
      }
    }
  }
  .main-sorry {
    font-size: 25px;
    text-align: center;
    h1 {
      margin-top: 100px;
    }
    &__go-to {
      margin: 20px 0 100px 0;
      &--button {
        width: 400px;
        height: 100px;
        background-color: #3CCACE;
        display: inline-block;
        line-height: 100px;
        text-decoration: none;
        text-align: center;
        color: #ffffff;
        font-weight: bold;
      }
    }
  }
}