.appBanner
  .inner
    .inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    .inner__text 
      今すぐ無料ダウンロード
    .inner__icon
      = link_to '#',class: 'Btn' do
        = image_tag "/assets/logo/app-store.svg",class:'aBtn'
      = link_to '#',class: 'Btn' do
        = image_tag "/assets/logo/google-play.svg",class:'gBtn'