.sub-footer
  .sub-footer__info
    %ul.contents
      %li.content
        = link_to "プライバシーポリシー", "#"
      %li.content
        = link_to "フリマ利用規約", "#"
      %li.content
        = link_to "特定商取引に関する表記", "#"
  .sub-footer__logo
    = image_tag ("/assets/logo/logo.png"), width: "100"
  .sub-footer__copyright
    ©︎FURIMA