.item-destory-main
  .item-destrory-main__box
    .item-destrory-main__box__icon
      = image_tag asset_path("logo/logo.png")
    .item-destrory-main__box__title
      該当する商品は削除されています。
    = link_to root_path,class:'item-destrory-main__box__link' do
      トップページへ戻ります