.purchase_end
  .purchase_end__main
    .purchase_end__main__contents
      .purchase_end__main__contents--top
        購入を完了しました
      =link_to "トップページ", root_path, class: "purchase_end__main__contents--button"
