.search
  .searchitem
    - if @items.blank?
      %span.searchitem__blank 該当する商品が見つかりません。検索条件を変え、再度お試しください。
  .searchitem
    - if @items.present?
      %span.search-result
        = params[:keyword]
      %span.search-result2
        の検索結果です。
      %span.search-result
        = @items.length
      %span.search-result2
        件見つかりました！  (画像をクリックすると詳細情報が確認できます。)
  .itemlists
    = render "itemlist"
= render "appbanner"
        