.item-main {
  background-color: #f8f8f8;
    .main-show {
      padding: 40px;
      margin: 0 auto;
    }
    .contentl-left {
      margin: 0;
      padding: 0;
    }
    .content-right {
      width: 700px;
      margin: 0 auto;
    }
    .content-top {
      margin: 0;
      padding: 0;
    }
  }


.item-box {
  background-color: #fff;
  padding: 24px 40px 40px;
  &__name {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }
    &__body {
      margin: 16px 0 0;
      &__main {
        display: flex;
        position: relative;
        &__sold{
          margin-top: 120px;
          text-align: center;
          width: 100%;
          position: absolute;
          &__text{
            width: 75%;
            margin: 0 auto;
            padding: 5px;
            font-weight:bolder;
            font-size:40px;
            color:#fff;
            background:#3CCACE;
            opacity: 0.85;  
          }
        }
      li {
          display: flex;
          flex-direction: column;
          width: 560px;
          align-items: center;
          margin: 0 auto;
          list-style: none;
          img{
            width: 100%;
            height: 350px;
            object-fit: cover;
          }
          
        }
        &__sub {
          display: flex;
          justify-content: center;
          margin: 10px;
          img {
            display: flex;
            width: 25%;
            height: 100px;
            margin: 0 10px 0 0;
            object-fit: cover;

            }
          }
          }
          &__price {
            text-align: center;
            display: flex;
            flex-direction: column;
            margin: 24px 0 24px;
            span {
              font-size: 46px;
              font-weight: bold;
              margin: 0 10px 0 0;
              }
            &__pricedetail {
              span {
                font-size: 16px;
                box-sizing: border-box;
                font-weight: normal;
              }
            }
            &__detail {
              line-height: 1.5;
              font-size: 18px;
              margin-bottom: 30px;
              &__table {
                margin-bottom: 20px;
                table {
                  width: 100%;
                  height: 375px;
                  border-collapse: collapse;
                  border: 1px solid #f8f8f8;
                  tbody {
                    box-sizing: border-box;
                    tr {
                      box-sizing: border-box;
                      th {
                        width: 20%;
                        background-color: #eee;
                        font-weight: 400;
                        padding: 8px;
                        border: 1px solid #dedede;
                        font-size: 14px;
                        text-align: center;
                      }
                      td {
                        width: 61%;
                        padding: 15px 15px;
                        border: 1px solid #dedede;
                        font-size: 14px;
                      }
                      br {
                        box-sizing: border-box;
                      }
                      .blue {
                        text-decoration: none;
                        color: #3CCACE;
                      }
                    }
                  }
                }
              }
            &__optionalares {
              display: flex;
              justify-content: space-between;
              ul {
                margin: 10px 0 0;
                display: flex;
                li.item-box__body__price__detail__optionalares__likebtn {
                  margin-right: auto;
                  padding: 6px 10px;
                  border-radius: 40px;
                  color: #3CCACE;
                  border: 1px solid #ffb340;
                  i {
                    display: inline-block;
                    font: nomal nomal nomal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                  }
                }
              }
              ul.optinal {
                margin: 10px 0 0;
                display: flex;
                li.optinalbtn {
                  font-size: 14px;
                  a {
                    padding: 6px 10px;
                    display: inline-block;
                    border-radius: 4px;
                    color: #333;
                    border: 1px solid #333;
                    text-decoration: none;
                    i {
                      display: inline-block;
                      font: nomal nomal nomal 14px/1 FontAwesome;
                      font-size: inherit;
                      text-rendering: auto;
                      -webkit-font-smoothing: antialiased;
                    }
                  }
                }
              }
            }
          }
        }
      
      &__comments {
        padding: 24px;
        background-color: #fff;
        margin: 10px 0;
        text-align: center;
        ul {
          list-style: none;
        }
          .form {
            margin: 0;
            padding: 0;
          }
          .comment-body {
            box-sizing: border-box;
            width: 100%;
            min-height: 104px;
            padding: 10px;
          }
            p {
              padding: 8px;
              font-size: 14px;
              background-color: #f8f8f8;
              margin: 10px 0;
              text-align: left;
            }
            br {
              box-sizing: border-box;
            }
            .form__btn {
              line-height: 48px;
              background: #3CCACE;
              border: 1px solid #3CCACE;
              color: #fff;
              width: 60%;
              font-size: 18px;
              border-radius: 100px;
              margin: auto;
              i {
                display: inline-block;
                font: nomal nomal nomal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
              }
            }
            }
      &__purchase {
        margin-top: 40px;
        margin-bottom: 40px;
        &--btn {
          display: block;
          height: 60px;
          width: 500px;
          border-radius: 100px;
          background-color: #3CCACE;
          margin: 0 auto;
          text-align: center;
          text-decoration: none;
          color: white;
          font-size: 20px;
          font-weight: bold;
          line-height: 60px;
        }
      }
      &__destory {
        margin-top: 40px;
        margin-bottom: 40px;
        &--btn-not {
          display: block;
          height: 60px;
          width: 500px;
          border-radius: 0.5em;
          background-color: gray;
          margin: 0 auto;
          text-align: center;
          text-decoration: none;
          color: white;
          font-size: 20px;
          font-weight: bold;
          line-height: 60px;

        }
        #modal-open-btn {
          display: block;
          height: 60px;
          width: 500px;
          border-radius: 0.5em;
          background-color: white;
          margin: 0 auto;
          text-align: center;
          text-decoration: none;
          border: 2px solid red;
          color: red;
          font-size: 20px;
          font-weight: bold;
          line-height: 60px;
          transition: all 0.3s;
          cursor: pointer;
          &:hover{
            background-color: red;
            color:white
          }
        }
        a{
          display: none;
        }
        #overlay1 {
          //モーダルウィンドウの背景を設定
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
          //透過度をつける
            background: rgba(0, 0, 0, 0.3);
            display: none;
            z-index: 1;
        }
        #overlay2 {
          //モーダルウィンドウの背景を設定
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
          //透過度をつける
            background: rgba(0, 0, 0, 0.3);
            display: none;
            z-index: 1;
        }
          
          #modalWindow {
          // モーダルウィンドウの画面を設定(高さ・幅は調整ください)
            width: 500px;
            height: 200px;
            position: absolute;
          //トップからの場所を指定（topをいじれば高さが調整できます）
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            box-shadow: 5px 8px 10px gray;
            z-index: 2;
          //flexboxで子要素のボタンとメッセージボックスの要素を配置する
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
          
            .modal-message-box {
              width: 100%;
          //下記heightの60pxはボタンの高さで、それを画面の大きさから引いています。
              height: calc(100% - 60px);
              text-align: center;
          //flexboxで文字の配置を決める（縦方向、中央揃え）
              display: flex;
              flex-direction: column;
              justify-content: space-around;
            }
          
            #modal-close-btn {
              width: 50%;
              height: 60px;
              background-color: white;
              border: 1px solid gray;
              cursor: pointer;
              &:hover{
                color: blue;
              }
            }
          
            #delete-comformation-btn {
              width: 50%;
              height: 60px;
              background-color: white;
              border: 1px solid gray;
              cursor: pointer;
              &:hover{
                color: red;
              }
            }
          }
          
      }

    }
  }
      ul {
        list-style: none;
        li.link__prev {
          float: left;
          a {
            text-decoration: none;
            color: #3CCACE;
            i {
              display: inline-block;
              font: nomal nomal nomal 14px/1 FontAwesome;
              font-size: inherit;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
            }
          }
        }
          li.link__next {
            float: right;
            a {
              text-decoration: none;
              color: #3CCACE;
              i {
                display: inline-block;
                font: nomal nomal nomal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
              }
            }
          }
        }
        .relateditems {
          margin: 0;
          padding: 25px;
          a {
            display: block;
            margin: 24px 0 8px;
            color: #3CCACE;
            text-decoration: none;
            font-weight: bold;
            font-size: 22px;
            position: relative;
            box-sizing: border-box;
          }
          &__itemlists {
          margin: 0;
          padding: 0;
          &__itemlist {
            margin: 0 0 10px;
            width: calc(100% / 3);
            a {
              display: inline-block;
              margin: 24px 0 8px;
              color: #3CCACE;
              text-decoration: none;
              font-weight: bold;
              font-size: 22px;
              position: relative;
            }
            .relateditems__itemlists__itemlist__img {
              background-color: #fff;
            }
            &__img{
              width: 220px;
              height: 150px;
              overflow: hidden;
              margin: 0;
            }
            &__body{
              background-color: white;
              color: #333;
              padding: 16px;
              &__name{
                overflow: hidden;
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
              }
              &__details{
                font-size: 16px;
                ul{
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                }
                i {
                  display: inline-block;
                  font: nomal nomal nomal 14px/1 FontAwesome;
                  font-size: inherit;
                  text-rendering: auto;
                  -webkit-font-smoothing: antialiased;
                }
                p{
                  font-size: 10px;
                  text-align: left;
                      }
                    }
                  }
                }
            }
          }

.itemlists-title{
  margin: 0 auto;
  &__box{
    max-width: 1000px;
    margin: 0 auto;
    a{
      text-decoration: none;
      color: #3CCACE;
      font-size: 20px;
      font-weight: bolder;
      &:hover{
        text-decoration: underline;
      }
    }
  
  }

}
.itemlists{
            max-width: 1000px;
            padding: 0 10px;
            margin: 26px auto 50px;
            flex-wrap: wrap;
            
            li{
              color: #f8f8f8;
              display: inline-block;

            }
            .itemlist{
              width: 220px;
              margin: 0 5px 10px;
              outline: 1px solid #f8f8f8;
              box-shadow: 1px 2px 2px rgb(194, 189, 189);
              transition: all 0.3s ; 
              &__sold{
                margin-top: 60px;
                text-align: center;
                width: 220px;
                position: absolute;
                &__text{
                  width: 75%;
                  margin: 0 auto;
                  padding: 5px;
                  font-weight:bolder;
                  font-size:20px;
                  color:#fff;
                  background:#c00;
                  opacity: 0.85;  
                }
              }
      
              &:hover{
                opacity: 0.8;
                outline: solid 1px #3CCACE;
                box-shadow: 0 2px 8px darken($color: #3CCACE, $amount: 15%);
              }
              a{
                background-color: #fff;
                display: inline-block;
                text-decoration: none;
              }
              &__img{
                width: 220px;
                height: 150px;
                overflow: hidden;
                margin: 0;
                img{
                  width: 100%;
                  height: 150px;
                  object-fit: cover;
                  background-color: white;
                }
              }
              &__body{
                background-color: white;
                color: #333;
                padding: 16px;
                &__name{
                  overflow: hidden;
                  width: 180px;
                  line-height: 1.5;
                  font-size: 15px;
                  text-align: left;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }
                &__details{
                  margin-top: 5px;
                  font-size: 16px;
                  ul{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    li{
                      color: #333;
                    }
                    li:first-of-type{
                      color: red;
                      font-weight: bold;
                      .itemlist__body__details__sold{
                        width: 100%;
                        padding: 0 12px 0 5px;
                        color: white;
                        background-color: #c00;
                        opacity: 0.85;
                        border-top-right-radius : 1em;
                        -webkit-border-top-right-radius: 1em;
                        border-bottom-right-radius : 1em;
                        -webkit-border-bottom-right-radius: 1em;
                    }
      
                    }
                  }
    
                  p{
                    font-size: 10px;
                    text-align: left;
                  }
                }
              }
            }
}
