.itemlistmain{
  background: #f8f8f8;
  &__showbox{
    padding: 40px;
    margin: 0 auto;
    &__content{
      width: 80%;
      max-width: 1200px;
      margin: 0 auto;
      &__titlebox{
        background-color: #fff;
        border-radius: 5px;
        &__title{
          border-radius: 5px 5px 0 0;
          padding: 16px 10px 8px;
          background-color: #3CCACE;
          color: #fff;
          text-align: center;
          font-weight: bold;
          font-size: 22px;
        }
        &__sublists{
          padding: 8px;
          list-style: none;
          li{
            display: inline-block;
            line-height: 26px;
            margin: 10px;
            white-space: nowrap;
            &:hover{
              text-decoration: underline;
            }
            a{
              color: #ffb340;
              text-decoration: none;
              font-size: 14px;
            }
          }
        }
      }
      &__itemlists{
        max-width: 1180px;
        padding: 0 10px;
        margin: 26px auto 0;
        display:flex;
        justify-content:center;
        flex-wrap: wrap;
        li{
          color: #f8f8f8;
        }
        .itemlist{
          width: 220px;
          display: block;
          margin: 0 5px 10px;
          outline: 1px solid #f8f8f8;
          box-shadow: 1px 2px 2px rgb(194, 189, 189);
          transition: all 0.3s ; 
          &__sold{
            margin-top: 60px;
            text-align: center;
            width: 220px;
            position: absolute;
            &__text{
              width: 75%;
              margin: 0 auto;
              padding: 5px;
              font-weight:bolder;
              font-size:20px;
              color:#fff;
              background:#c00;
              opacity: 0.85;  
            }
          }
  
          &:hover{
            opacity: 0.8;
            outline: solid 1px #3CCACE;
            box-shadow: 0 2px 8px darken($color: #3CCACE, $amount: 15%);
          }
          a{
            background-color: #fff;
            display: inline-block;
            text-decoration: none;
          }
          &__img{
            width: 220px;
            height: 150px;
            overflow: hidden;
            margin: 0;
            img{
              width: 100%;
              height: 150px;
              object-fit: cover;
              background-color: white;
            }
          }
          &__body{
            background-color: white;
            color: #333;
            padding: 16px;
            &__name{
              overflow: hidden;
              width: 180px;
              line-height: 1.5;
              font-size: 15px;
              text-align: left;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
            &__details{
              margin-top: 5px;
              font-size: 16px;
              ul{
                display: flex;
                align-items: center;
                justify-content: space-between;
                li{
                  color: #333;
                }
                li:first-of-type{
                  color: red;
                  font-weight: bold;
                  .itemlist__body__details__sold{
                    width: 100%;
                    padding: 0 12px 0 5px;
                    color: white;
                    background-color: #c00;
                    opacity: 0.85;
                    border-top-right-radius : 1em;
                    -webkit-border-top-right-radius: 1em;
                    border-bottom-right-radius : 1em;
                    -webkit-border-bottom-right-radius: 1em;
                }
  
                }
              }

              p{
                font-size: 10px;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
}

