.likes{
  max-width: 1000px;
  width: calc(100% - 600px);
  margin: 30px 150px 10px 450px;
  position: absolute;
  background-color: white;
  text-align: center;
  .likes-title{
    width: 100%;
    max-width: 1000px;
    text-align: center;
    color: #3CCACE;
    font-size: 25px;
    padding: 20px 0 10px;
    border-bottom: 2px solid #EEEEEE;
    span{
      font-size: 16px;
    }
  }

}