.TPmain{
  background: #f8f8f8;
  width: 100%;
  .mainVisual{
    height: 560px;
    background-image: image-url("pict/bg-mainVisual-pict_pc.jpg");
    background-repeat: no-repeat;
    padding: 0 60px;
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
    &__content{
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0;
      &__title{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      &__text{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        line-height: 1.77778;
        margin: 16px 0 0 0;
        color: #fff;
      }
      &__icon{
        display: flex;
        margin: 24px 0 0 0;
        &__aBtn{
          width: 180px;
          margin-right: 10px;
          transition: all 0.3s;
          &:hover{
            opacity: 0.6;
          }
  
        }
        &__gBtn{
          width: 180px;
          transition: all 0.3s;
          &:hover{
            opacity: 0.6;
          }
        }
      }
    }
  }

  .topIntroduction{
    padding: 60px 20px;
    &__title{
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    &__title::after{
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &__lists{
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;

      &__list{
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__pict{
          position: relative;
          margin-bottom: 20px;
          &__number{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
          img{
            width: 100%;
            vertical-align: bottom;
          }
        }
        &__text{
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          span{
            color: #3CCACE;
          }
        }
        &__description{
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }

      &__list-last{
        width: 30%;
        margin: 16px 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__pict{
          position: relative;
          margin-bottom: 20px;
          &__number{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
          img{
            width: 100%;
            vertical-align: bottom;
          }
        }
        &__text{
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          span{
            color: #3CCACE;
          }
        }
        &__description{
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }

    }
  }

  .topMiddleDL{
    background-image: image-url("pict/bg-topMiddleDl-pict.jpg");
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    &__inner{
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      &__title{
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      &__text{
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      &__icon{
        display: flex;
        margin: 24px 0 0 0;
        &__aBtn{
          width: 180px;
          margin-right: 10px;
          transition: all 0.3s;
        }
        &__aBtn:hover{
          opacity: 0.6;
        }
        &__gBtn{
          width: 180px;
          transition: all 0.3s;
        }
        &__gBtn:hover{
          opacity: 0.6;
        }
      }
    }
  }

  .topKeyFeatures{
    padding: 60px 100px;
    background-color: #fff;
    &__head{
        font-size: 27px;
        text-align: center;
        margin: 0 0 40px;
        font-weight: bold;
        margin-bottom: 25px;
        padding-bottom: 15px;
        position: relative;
    }
    &__head::after{
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &__items{
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      &__item{
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        &__img{
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
          img{
            width: 100%;
            vertical-align: bottom;
          }
        }
        &__title{
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &__detail{
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }

  .pickupContainer{
    padding: 80px 0 0;
    background-color: #f8f8f8;
    height: 100%;
    &:last-of-type{
      padding-bottom: 80px;
    }
  
    &__head{
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
      &__categories{
        margin: 15px 10px 25px;   
        &__category{
          text-decoration: none;
          color: #222222;
          padding: 10px;
          margin-right: 10px;
          white-space: nowrap;
          background-color: #FFFFFF;
          border-radius: 1.5em;
          box-shadow: 0 1px 3px #ada9a9;
          transition: all 0.2s;
          font-size: 15px;
          &:hover{
            color: #FFFFFF;
            background-color: #3CCACE;
          }
        }
      }
    }
    &__itemBox{
      margin: 0;
      padding: 0;
      width: 100%;
      
      &__head{
        text-align: center;
        a{
          text-decoration: none;
        }
        &__title{
          font-weight: bold;
          font-size: 24px;
          text-decoration: none;
          color: #3CCACE;
        }
        &__showall{
          margin:0 auto;
          color: #3CCACE;
          max-width: 1180px;
          text-align: right;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      &__lists{
        max-width: 1180px;
        padding: 0 10px;
        margin: 26px auto 0;
        display:flex;
        justify-content:center;
        flex-wrap: wrap;
        li{
          color: #f8f8f8;
        }
        .itemlist{
          width: 220px;
          display: block;
          margin: 0 5px 10px;
          outline: 1px solid #f8f8f8;
          box-shadow: 1px 2px 2px rgb(194, 189, 189);
          transition: all 0.3s ; 
          position: relative;
          &__sold{
            position: absolute;
            width: 89px;
            height: 91px;
            left: 135px;
            top: -5px;
            overflow: hidden;
            &__text{
              display: inline-block;
              position: absolute;
              padding: 7px 0;
              left: -23px;
              top: 22px;
              width: 160px;
              text-align: center;
              font-size: 16px;
              line-height: 16px;
              background: red;
              color: #fff;
              font-weight: bolder;
              letter-spacing: 0.05em;
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
              &:before, &:after{
                position: absolute;
                content: "";
                border-top: 4px solid #b2751b;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                bottom: -4px;              }
              &:after{
                right: 18px;
              }
              &:before{
                right: 14px;
              }
            }
          }
            &:hover{
            opacity: 0.8;
            outline: solid 1px #3CCACE;
            box-shadow: 0 2px 8px darken($color: #3CCACE, $amount: 15%);
          }
          a{
            background-color: #fff;
            display: inline-block;
            text-decoration: none;
          }
          &__img{
            width: 220px;
            height: 150px;
            overflow: hidden;
            margin: 0;
            img{
              width: 100%;
              height: 150px;
              object-fit: cover;
              background-color: white;
            }
          }
          &__body{
            background-color: white;
            color: #333;
            padding: 16px;
            &__name{
              overflow: hidden;
              width: 180px;
              line-height: 1.5;
              font-size: 15px;
              text-align: left;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
            &__details{
              margin-top: 5px;
              font-size: 16px;
              ul{
                display: flex;
                align-items: center;
                justify-content: space-between;
                li{
                  color: #333;
                }
                li:first-of-type{
                  color: red;
                  font-weight: bold;
                  .itemlist__body__details__sold{
                    width: 100%;
                    padding: 0 12px 0 5px;
                    color: white;
                    background-color: red;
                    opacity: 0.85;
                    border-top-right-radius : 1em;
                    -webkit-border-top-right-radius: 1em;
                    border-bottom-right-radius : 1em;
                    -webkit-border-bottom-right-radius: 1em;
                }
  
                }
              }

              p{
                font-size: 10px;
                text-align: left;
              }
            }
          }
        }
      }
      #pickupContainer__itemBox__lists{
        max-width: 1180px;
        padding: 0 10px;
        margin: 26px auto 0;
        display:flex;
        justify-content:center;
        flex-wrap: wrap;
        li{
          color: #f8f8f8;
        }
        .itemlist{
          width: 220px;
          display: block;
          margin: 0 5px 10px;
          outline: 1px solid #f8f8f8;
          box-shadow: 1px 2px 2px rgb(194, 189, 189);
          transition: all 0.3s ; 
          &__sold{
            margin-top: 60px;
            text-align: center;
            width: 220px;
            position: absolute;
            &__text{
              width: 75%;
              margin: 0 auto;
              padding: 5px;
              font-weight:bolder;
              font-size:20px;
              color:#fff;
              background:#c00;
              opacity: 0.85;  
            }
          }
            &:hover{
            opacity: 0.8;
            outline: solid 1px #3CCACE;
            box-shadow: 0 2px 8px darken($color: #3CCACE, $amount: 15%);
          }
          a{
            background-color: #fff;
            display: inline-block;
            text-decoration: none;
          }
          &__img{
            width: 220px;
            height: 150px;
            overflow: hidden;
            margin: 0;
            img{
              width: 100%;
              height: 150px;
              object-fit: cover;
              background-color: white;
            }
          }
          &__body{
            background-color: white;
            color: #333;
            padding: 16px;
            &__name{
              overflow: hidden;
              color: #333;
              width: 180px;
              line-height: 1.5;
              font-size: 15px;
              text-align: left;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
            &__details{
              margin-top: 5px;
              font-size: 16px;
              ul{
                display: flex;
                align-items: center;
                justify-content: space-between;
                li{
                  color: #333;
                }
                li:first-of-type{
                  color: red;
                  font-weight: bold;
                  .itemlist__body__details__sold{
                    width: 100%;
                    padding: 0 12px 0 5px;
                    color: white;
                    background-color: #c00;
                    opacity: 0.85;
                    border-top-right-radius : 1em;
                    -webkit-border-top-right-radius: 1em;
                    border-bottom-right-radius : 1em;
                    -webkit-border-bottom-right-radius: 1em;
                }
  
                }
              }

              p{
                font-size: 10px;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
  
}
.exhibitionBtn{
  cursor: pointer;
  width: 120px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  text-decoration: none;
  transition: all 0.4s;
  &:hover{
    box-shadow:0 0 10px rgba(0,0,0,0.5);
    background-color: darken($color: #3CCACE, $amount: 5%);
 }

  &__text{
    color: #fff;
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
  }
  &__icon{
    width: 60%;
    vertical-align: bottom;

  }
}
.pagination{
  width: 100%;
  margin: 15px auto 15px;
  font-size: 16px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  .current{

    background-color: #3CCACE;
    border: 1px solid #3CCACE;
    color: white;
    text-align: center;
    
  }
  span{
    background-color: white;
    padding: 5px 10px 5px;
    text-align: center;
    border: 1px solid rgb(228, 219, 219);
    box-shadow: 0 0 2px gray;
    &:first-of-type{
      border-top-left-radius : 0.4em;
      -webkit-border-top-left-radius: 0.4em;
      border-bottom-left-radius : 0.4em;
      -webkit-border-bottom-left-radius: 0.4em;
    }
    &:last-of-type{
      border-top-right-radius : 0.4em;
      -webkit-border-top-right-radius: 0.4em;
      border-bottom-right-radius : 0.4em;
      -webkit-border-bottom-right-radius: 0.4em;

    }
    a{
      text-decoration: none;
      color: gray;
      width: 100%;
      height: 100%;
      display: block;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}